<!-- <h1 class="text">Helloooo</h1>

<table style="width: 100%;">
    <tr>
        <td><app-attribute-directive/></td>
    </tr>
</table> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="add-emp">AddEmp</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="admin">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="data-Binding">Data Binding</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="attribute-directive">Attribute Directive</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="structural-directive">Structural Directive</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="for-Control">for</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="if-else-Control">if-Else</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="switch-Control">Switch</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Pipe">Pipe</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li> -->
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

<div class="container">
    <router-outlet></router-outlet>
</div>